.site_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: #9c8eed;
  padding-top: 50px;
  padding-bottom: 50px;
}

.site_nav__link {
  text-align: center;
  font-size: x-large;
}
